a,span{
    color: #fff;
}


.container {
    display: grid;
    grid-template-rows: 60px 1fr;
    /* 行：顶部固定高度，剩余空间给下方 */
    grid-template-columns: 210px 1fr;
    /* 列：左侧固定宽度，剩余空间给主内容 */
    height: 100vh;
    /* 占满视口高度 */
}

.header {
    grid-row: 1;
    grid-column: 1 / span 2;
    /* 跨两列 */
    background: #7300ff;
    text-align: center;
}

.header > button{
    position: absolute;
    background-color: #e70dd8;
    border-radius: 14px;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-top: 18px;
    margin-left: 20%;
}

.header > button:hover{
    background-color: #d910fc;
    scale: 1.05;    
}

.header > button:active{
    background-color: #890aa5;
    scale: 0.95;
}

.header > img{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: -50%;
    margin-top: 12px;
    margin-right: 25px;
}

.header > span{
    font-size: large;
    font-weight: 600;
    margin-top: -8px;
}

.main-content {
    grid-row: 2;
    grid-column: 2;
    background: #20202c;
}

.main-content  .content-table{
    margin: 10px 10px;
    background-color: #2b2b34d4;
    border-radius: 14px;
    text-align: center;
}

.main-content  .content-table th{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.main-content  .content-table td{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.main-content .content-area input{
    width: 150px;
    height:20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    scale: 1.00;
    text-align: center;
    color:#000;
    background-color: #fff;
    outline: none;
    margin-left: 8px;
    margin-left: 8px;
}

.main-content .content-area input:hover{
    scale:1.05;
    outline-style: auto;
    outline-color: #ff00f2;
    outline-width: 20px;
}

.main-content .content-area input:focus{
    outline-style: auto;
    outline-color: #000;
    outline-width: 40px;
}

.main-content .content-area input:active{
    scale:0.95;
}



.sidebar {
    grid-row: 2;
    grid-column: 1;
    background: #2b2b34;
}

.sidebar > header{
    text-align: center;
    color: #7d27ff;
}

#admin-main-logo{
    width: 80px;
    height: 48px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar > ul{
    padding: 0 16px;
}

.sidebar > ul > li{
    padding: 10px 0;
    border-top: 2px solid #3a373d;
}

.sidebar > ul > li:first-child{
    border-top:none;
}

.sidebar > ul > li > ul > li{
    margin-top: 10px;
}

.menu{
    position: relative;
    margin: 5px 0px;
    line-height: 40px;
    color: #fff;
    background: #3c7dff;
    border-radius: 24px;
    scale:1.00;
    text-align: center;
}

.menu.active{
    background-color: #803cff;
}

.menu + ul {
    display: none;
    padding: 0 8px;
}

.menu.active + ul {
    display: block;
    transition: max-height 0.1s ease;
    overflow: hidden;
}

.menu:hover{
    scale:1.02;
}

.menu:active{
    background: #1c3a75;
    scale: 0.98;
}

.menu > img:last-child{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -8px; 
}

.menu > img:last-child { /* 选中一级菜单的最后一个 img（箭头） */
    transition: transform 0.3s ease;
    margin-left: auto; /* 箭头靠右 */
}

.menu.active > img:last-child {
    transform: rotate(180deg); /* 展开时箭头向下（旋转180度） */
}

.menu > img:first-child{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 24px;    
    top: 50%;
    margin-top: -11px;
}

.menu > span,a{
    font-weight: 600;
    font-size: 16px;
}

/*菜单栏目样式*/
.menu-item{
    position: relative;
    margin: 5px 0px;
    line-height: 40px;
    color: #fff;
    background: #3c7dff;
    border-radius: 5px;
    scale:1.00;
    text-align: center;
}

.menu-item > img:first-child{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 24px;    
    top: 50%;
    margin-top: -11px;
}

.menu-item.active{
    background-color: #803cff;
}

.menu-item:hover{
    scale:1.05;
}

.menu-item:active{
    background: #1c3a75;
    scale: 0.95;
}

#default-content-area-image{
    max-width: 100%; /* 防止图片溢出 */
    max-height: 100%;
    width: 120;
    height: 67.5;
}

.button-group{
    display: flex;
}

.button-group-item{
    width: 72px;
    height: 30px;
    border-radius: 12px;
    max-width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ff00f2;
    color:#fff;
    text-align: center;
    scale:1.00;
    outline: none;
}

.button-group-item:hover{
    background-color: #fc4af3;
    scale: 1.05;
    outline:auto;
    outline-color: #fff;
    outline-width: 500px;
}

.button-group-item:active{
    background-color: #b701ad;
    scale: 0.95;
    outline:auto;
    outline-color: #390101;
    outline-width: 500px;
}

.content-area div > h3{
    display: inline-block;
    color: #fff;
    margin-left: 10px;
}

.content-area div{
    text-align: center;
}