<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/admin-main-style.css">
    <title>BKSY图书后台管理</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="/images/Adminster.png" alt="图片加载失败">
            <span id="adminster-name">管理员系统</span>
            <button type="submit" class="logout-button">退出登录<button>
        </div>
        <div class="sidebar">
            <header>
                <h3>
                    <img src="/images/Logo.png" alt="图片加载失败" id="admin-main-logo">
                    <div>BKSY后台管理系统</div>
                </h3>
            </header>
            <ul>
                <li>
                    <div class="menu"> <!--active"-->
                        <img src="/images/HomeFilled.png" alt="图片加载失败">
                        <span>用户管理</span>
                        <img src="/images/ArrowDown.png" alt="图片加载失败">
                    </div>
                    <ul>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a data-target="user-message-table-content-area">信息查询</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a data-target="user-message-fix-content-area">信息修改</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a data-target="user-delete-content-area">删除用户</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a data-target="new-user-add-content-area">添加用户</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="menu"> <!--active"-->
                        <img src="/images/HomeFilled.png" alt="图片加载失败">
                        <span>书籍库管理</span>
                        <img src="/images/ArrowDown.png" alt="图片加载失败">
                    </div>
                    <ul>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a href="#">书目查询</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a href="#">书目删除</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a href="#">书目修改</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="menu">  <!--active"-->
                        <img src="/images/HomeFilled.png" alt="图片加载失败">
                        <span>管理员信息</span>
                        <img src="/images/ArrowDown.png" alt="图片加载失败">
                    </div>
                    <ul>
                        <li>
                            <div class="menu-item">
                                <img src="/images/HomeFilled.png" alt="图片加载失败">
                                <a href="#">管理员查询</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="content-area" id="default-content-area">
                <h2 style="color:#fff;text-align:center;margin-top:40px;margin-bottom:-40px;">选择一个右侧列表中的选项开始管理吧</h2>                
                <img src="/images/DefaultContentAreaLibrary.png" alt="图片加载失败" id="default-content-area-image">
            </div>
            <div class="content-area" id="user-message-table-content-area">
                <div class="button-group">
                    <button class="button-group-item" id="user-message-refresh-button">刷新</button>
                </div>
                <table class="content-table" id="user-message-table">
                    <tr>
                        <th>用户ID</th>
                        <th>用户名</th>
                        <th>用户密码</th>
                        <th>用户手机号</th>
                        <th>用户邮箱</th>
                    </tr>
                </table>
            </div>
            <div class="content-area" id="user-message-fix-content-area">
                <div>
                    <h2 style="color: #fff;margin-top:10px;">请先搜索一个用户,再更改他的信息吧!<h2>
                </div>
                <div style="display:inline-block;">
                    <h3>姓名搜索</h3>
                    <form method="post"  id="fix-name-form">
                        <input id="user-message-fix-name-input" name="nameBar">
                        <button class="button-group-item">搜索</button>
                    </form>
                </div>
                <div style="display:inline-block;">
                    <h3>ID搜索</h3>
                    <form method="post"  id="fix-id-form">
                        <input id="user-message-fix-name-input" name="idBar">
                        <button type="submit" class="button-group-item">搜索</button>
                    </form>
                </div>
                <table class="content-table" id="user-fix-table">
                    <tr>
                        <th>信息项</th>
                        <th>原始信息</th>
                        <th>修改后信息</th>
                        <th>修改按钮</th>
                    </tr>
                </table>
            </div>
            
            <div class="content-area" id="user-delete-content-area">
                <div>删除页面</div>
            </div>
            

            <div class="content-area" id="new-user-add-content-area">
                <div>
                    <h2 style="color: #fff;margin-top:10px;">你可以在此添加一个新的用户账户</h2>
                </div>
                <table class="content-table" id = "user-add-table">
                    <tr>
                        <th colspan="3">新用户信息<th>
                    </tr>
                    <tr>
                        <th>新用户姓名:</th>
                        <td contenteditable="true" class="editable-bar" id="add-user-name"></td>
                        <th rowspan="5">
                            <button class="button-group-item" id="add-submit-button">添加</button>
                        <th>
                    </tr>
                    <tr>
                        <th>新用户密码:</th>
                        <td contenteditable="true" class="editable-bar" id="add-user-pwd"></td>
                    </tr>
                    <tr>
                        <th>新用户电话号码:</th>
                        <td contenteditable="true" class="editable-bar" id="add-user-phone"></td>    
                    </tr>
                    <tr>
                        <th>新用户电子邮箱:</th>
                        <td contenteditable="true" class="editable-bar" id="add-user-email"></td>    
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="/javascripts/admin-main-source.js"></script>
</body>

</html>