<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出错了</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <style>
        .container{
            width: 100vw;
            height:100vh;
            background: url("/images/PageError.jpg");
            background-size: 100% 100%;
            overflow: hidden;
        }
        h1,h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>出错了</h1>
        <h2>如果你在登录，请检查用户名或密码是否正确</h2>
        <h2>如果你想登录管理员系统，请先输入账号和密码</h2>
    </div>
</body>
</html>